<h1>Three Wise Monkyes</h1>
<div Id="main" >
<div class="a">  
<button (click)="fun()"> <img src="https://t3.ftcdn.net/jpg/10/33/36/22/360_F_1033362241_xJuJFF5J9eiP4RSBvz9Os4QOcWtpEoyM.jpg" height="70px" ></button>
<div *ngIf="iseye">
  <img src="https://media1.tenor.com/m/50rjWvQ_RZQAAAAC/iamhemuk-xhk.gif">
</div>
</div>

<div class="b"> 
<button (click)="funne()"><img src="https://t3.ftcdn.net/jpg/08/45/60/14/360_F_845601475_uwtco6r2wfr5WozDUPVNg4z6eoDuHu7V.jpg" height="70px"> </button>
<div *ngIf="ismouth">
  <img src="https://media1.tenor.com/m/jHlgsnLqQBcAAAAd/manju-kautilyapaata.gif">
</div>
</div>

<div class="c">  
<button (click)="fu()"><img src="https://media.istockphoto.com/id/483725510/photo/i-cant-hear-you.jpg?s=612x612&w=0&k=20&c=w59usrr6EOCrhfln0D9OruHvsKhLbkox7qEfPZlOan0= " height="70px" width="125px"></button>
<div *ngIf="isear">
  <img src="https://media1.tenor.com/m/aPbAvdtB4SMAAAAd/naku-vinapadadu-vinapadaledu.gif">
</div>

</div>

</div>
