/* You can add global styles to this file, and also import other style files */
body{
    background-color: #a6fc8e;
background-image: linear-gradient(62deg, #1462b0 0%, #c1c927 100%);
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
gap: 20px;
}